body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333;
}
header {
    background-color: #7B4A3A;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #E3E3E3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}
img.responsive {
    max-width: 100%;
    display:block;
    margin: 0 auto;
    height: auto;
    border-radius: 15px;
}

h1, h2 {
    color: #7B4A3A;
}
.section {
    margin-bottom: 20px;
}
.pairing-list, .details-list {
    list-style: none;
    padding: 0;
}
.pairing-list li::before {
    content: "\2022";
    color: #C77C0E;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #7B4A3A;
    color: #FFFFFF;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
}
